<div class = 'container col-lg-12'>
    <div>
        <h1>ERROR <i class="fas fa-bug"></i> <i class="fas fa-sad-cry"></i></h1>
        <h4>Detalhes: <%= error.message %></h4>
    </div>
    <a href='/home' class='btn' style='background-color: #30364C; margin-top: 100px;'><i class="fas fa-home"></i> Retornar a página principal</a>
</div>