<div class = 'container col-lg-12' style='padding: 40px 60px; font-family: Verdana, Geneva, Tahoma, sans-serif;'>
    <div>
        <h1>ERROR</h1>
        <h4>Detalhes: <%= error.message %></h4>
    </div>
    <button class='btn' style='background-color: #30364C; margin-top: 100px;'>Retornar a página principal</button>
</div>