<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #6170A1; margin: -40px -60px 40px -60px;">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/"><h4>Menu</h4><span class="sr-only">(página atual)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home"><h4>Página Principal</h4></a>
            </li>
        </ul>
    </div>
</nav>
<div class = 'container col-lg-12'>
    <div>
        <h1>ERROR <i class="fas fa-bug"></i> <i class="fas fa-sad-cry"></i></h1>
        <h4>Detalhes: <%= error.message %></h4>
    </div>
    <a href='/home/' class='btn' style='background-color: #30364C; margin-top: 100px;'><i class="fas fa-home"></i> Retornar a página principal</a>
</div>