<div class = 'container col-lg-12 text-center' style='padding: 40px 60px; font-family: Verdana, Geneva, Tahoma, sans-serif;'>
    <div class = 'row'>
        <h1 style = 'width: 100%;'>Olá, bem vindo ao Brello! :)</h1>
        <h3 style = 'margin-top: 30px; width: 100%;'>A plataforma KanBan mais top do mercado! ;D</h3>
    </div>
    <div style='margin-top: 50px;'>
        <form method="POST">
            <label style='width: 100%;'>Qual seu nome?</label>
            <input type='text' name='user' required>
            <br>
            <button class='btn' style='background-color: #30364C; margin-top: 20px;'>Salvar nome</button>
        </form>
    </div>
</div>